.filter_container{
    width: 98vw;
    height: 90px;
    background-color: rgb(33, 103, 214);
    display: flex;
    justify-content: space-evenly;

}
.filter_container input{
    height: 35px;
    outline: none;
    margin-top: 25px;
    border-radius: 8px;
    border: none;
    margin-left: 5px;
}
.filter_container button{
    height: 35px;
    border-radius: 10px;
    background-color: azure;
    color: blue;
    border: none;
    margin-left: 5px;
}
